@media screen and (max-width: 600px) {
    /* Navigation (oder Liste) anpassen */
    ul {
        height: 75px; /* Höhe der Navigation */
    }
    /* Richtungsänderung für flexbox-Elemente */
    main,
    ul {
        flex-direction: column; /* Spalten statt Reihen */
    }
 
    main {
        min-height: 200vh; 
    }
    #wrapper {
        flex-direction: column; 
        gap: 20px; 
        padding: 10px; 
    }
    
    .card-wrapper {
        width: 90%; 
        max-width: 350px;
    }
  
    .card-title {
        font-size: 1.2rem;
    }
    .card-trivia {
        font-size: 0.9rem; 
    }
   
    .stat-icon img {
        max-width: 40%; 
        max-height: 40%;
    }
}